@keyframes rec {
	to {
		transform: scale(1);
		background: rgba(60, 30, 110, 1);
	}
	from {
		transform: scale(2);
		background: rgba(76, 90, 168, 0);
	}
}

@keyframes act {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}

* {
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
}

html {
	background: #000;
}

body {
	margin: 0px auto;
	background-image: url('../images/main_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.87));
	mix-blend-mode: multiply;
	-webkit-mix-blend-mode: multiply;
	z-index: -1;
}

.main,
.result {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.result {
	justify-content: space-between;
	padding: 14px 20px;
}

.main {
	justify-content: center;
}

.score {
	font-size: 10px;
	background: #FFFFFF;
	color: #4F4E4E;
	border-radius: 8px;
	height: 16px;
	padding: 3px 6px;
	box-sizing: border-box;
	line-height: 1;
	font-weight: 700;
	mix-blend-mode: overlay;
}

.track {
	width: 100%;
	line-height: 1;
}

.track > div {
	margin-left: 5px;
}

.duration {
	mix-blend-mode: color-dodge;
}

.duration span {
	font-size: 12px;
	color: #a29c9c;
}

.duration img {
	width: 10px;
	height: 10px;
	margin-right: 3px;
}

.title {
	font-size: 22px;
	color: #FFF;
	text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 6px;
}

.artist {
	font-size: 13px;
	font-weight: 300;
	opacity: 0.7;
}

.continue {
	width: 10px;
}

.record {
	width: 87px;
	height: 87px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to bottom, #C754CD, #6A0546);
	border: 0;
	border-radius: 50%;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
	transition: all 200ms ease;
	z-index: 2;
}

.record::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #C754CD;
	width: 96px;
	height: 96px;
}

.record.anim {
	animation-name: act;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.record:active {
	transform: scale(1.05);
}

.recording {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.recording.anim {
	animation-name: rec;
	animation-duration: 1s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

.action {
	width: 36px;
	height: 36px;
}

.history-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	background: rgba(105, 0, 255, 0.2);
	color: #BB9CE9;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 12px;
}

.rec-time.top {
	top: 18px;
}

.rec-time.bottom {
	bottom: 18px;
}

.rec-time {
	position: absolute;
	width: 58px;
	background: rgba(232, 232, 232, 0.1);
	color: #594866;
	font-weight: 600;
	font-size: 14px;
	border-radius: 4px;
	text-align: center;
}

.track-detail {
	display: flex;
	align-items: center;
	width: 100%;
}

.track-detail .divisor {
	background: #DDD;
	height: 50px;
	width: 1px;
	mix-blend-mode: color-dodge;
	margin-right: 14px;
	top: 55px;
	align-self: center;
	position: sticky;
}

.track-detail section {
	width: 100%;
}

.track-detail section label {
	display: block;
	font-size: 10px;
	font-weight: 600;
	color: #9F9F9F;
	mix-blend-mode: luminosity;
	text-transform: uppercase;
}

.track-detail section span {
	display: block;
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
	line-height: 1.3;
	margin-bottom: 12px;
}

aside {
	top: 50px;
	position: sticky;
	align-self: center;
}

aside span {
	display: block;
	text-align: center;
	font-weight: 800;
	font-size: 12px;
	color: #F2F0F0;
	mix-blend-mode: color-dodge;
}

aside #day {
	font-size: 22px;
	font-weight: 300;
	color: #DFDFDF;
	line-height: 1.2;
	mix-blend-mode: unset;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a {
	display: inherit;
}

footer img {
	width: 24px;
	height: 24px;
}

footer .divisor {
	height: 3px;
	width: 3px;
	background: #DDDDDD;
	border-radius: 50%;
	mix-blend-mode: color-dodge;
	margin: 0 8px;
}